{% extends "header-footer.html" %}

{% block content %}
<style>
    .center{
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    .btn-primary {
        float: center;
        background-color: #FF8C00;
    }
    .input-icons i { 
            position: absolute; 
        } 
          
        .input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
        } 
          
        .icon { 
            padding: 10px; 
            min-width: 40px; 
        } 
          
        .input-field { 
            padding: 10px; 
            text-align: center; 
        } 
</style>

<div class="center">
    <br><br>
    <title>Let's start your job search!</title>
    <br><br>

    <form action="{% url 'results' %}" method="post">{% csrf_token %}
        <div class="input-icons">
            <i class="fa fa-search icon"></i>
            <input class="input-field" type="text" name="position" placeholder="eg. Software Engineer">
            <i class="fa fa-map-marker icon"></i>
            <input class="input-field" type="text" name="location" placeholder="eg. New York, NY">
        </div>
        <br><br>
        <input type="hidden" name="Indeed_page" value="0">
        <input type="hidden" name="GD_page" value="0">
        <input type="hidden" name="LI_page" value="0">
        <label><input type="checkbox" name="sites" value="indeed"> &nbsp;&nbsp;Indeed </label>
        <br><br>
        <label><input type="checkbox" name="sites" value="glassdoor">  &nbsp;&nbsp;Glassdoor</label>
        <br><br>
        <label><input type="checkbox" name="sites" value="linkedin">  &nbsp;&nbsp;LinkedIn</label>
        <br><br><br><br>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
{% endblock %}